{% extends "club/base.html" %}
{% block content %}
<div class="container">
    <h2>{{ object.title }}</h2>
    <h3>{{ object.slug }}</h3>
    <p>{{ object.content }}</p>
    <p>Posted on {{object.created_on}} by {{object.author}}</p>
    <p>Last Updated: {{object.updated_on}}</p>

    {% if user.is_authenticated %}
        <a href="{% url 'blog-update' object.id %}"><button type="button" name="button">Update</button></a>
        <a href="{% url 'blog-delete' object.id %}"><button type="button" name="button">Delete</button></a>
    {% endif %}

</div>
{% endblock %}
