{% extends "club/base.html" %}
{% block content %}
<nav>
    <a href="{% url "member-create"%}">Add Member</a>
    <a href="{% url "achieve-create"%}">Add Achievement</a>
    <a href="{% url "club-team"%}">Add Photo</a>
    <a href="{% url "blog-create"%}">Add Blog</a>
</nav>
<h1 style="color:red;" >Achievements</h1>
{% for achieve in achievements %}
    <div class="container">
        <a href="{% url "achieve-detail" achieve.id %}">{{ achieve.title }}</a>
    </div>
{% endfor %}
<h1 style="color:red;" >TEAM DETAILS</h1>
{% for member in members %}
    <h2>{{ member.name }}</h2>
    <a href="{% url "member-detail" member.id %}">{{ member.position }}</a>
{% endfor %}
<h1 style="color:red;" >POSTS</h1>
{% for post in posts %}
<div class="container">
    <a href="{% url "blog-detail" post.id %}">{{ post.title }}</a>
</div>
{% endfor %}
<h1 style="color:red;" >Club Gallery</h1>
{% for photo in photos %}
    <a href="{% url "photo-detail" photo.id %}"><img src="{{ photo.image.url }}" alt="No Image"></a>
{% endfor %}
{% endblock %}
