<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login.html</title>
    <link rel="stylesheet" href="login.css">
    <form action="login" method="post">
        <!-- <div class="imgcontainer">
          <img src="http://www.iitg.ac.in/stud/indresh/images/IITG_logo.png" width="200" 
          height="200" alt="IITG_logo" class="avatar">
        </div> -->
      
        <div class="container">
          <label for="username"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" required>
            <br>
          <label for="useremail"><b>email</b></label>
          <input type="email" placeholder="Enter Email-ID" name="useremail" required>
            <br>
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
            <br>    
          <button type="submit">Login</button>
          <!-- <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label> -->
        </div>
      
        <div class="container" style="background-color:#f7f7f7">
          <button type="button" class="cancelbtn">Cancel</button>
          <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
      </form>
</head>
<body>
    
</body>
</html>