<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
        <title>Delete Event</title>
    {% endblock %}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    {% load static %}
    <script src="{% static 'js/home.js' %}"></script>
  </head>
  <body>
      <nav>
          <div class="w3-bar w3-black">
              <a href="{% url 'major_event-create' %}" class="w3-bar-item w3-button">Add Major Events</a>
              <a href="{% url 'upcoming_event-create' %}" class="w3-bar-item w3-button">Add Upcoming Events</a>
              <a href="{% url 'member-create' %}" class="w3-bar-item w3-button">Add Team Member</a>
              <a href="{% url 'gensec-create' %}" class="w3-bar-item w3-button">Add Gensec Details</a>
           </div>
     </nav>
    {% block content %}
     <form method="POST">
         {% csrf_token %}
         <legend>Delete Event</legend>
         <h2>Are you sure you want to delete {{ object.name }}?</h2>
         <button type="submit" name="button">Delete</button>
         <a href="{% url 'upcoming_event-detail' object.id %}">Cancel</a>
     </form>
    {% endblock %}
 
        
  </body>
</html>





